<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658688860314-4sgoul426jgaa4jih9337joepas9gkri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658688860314-4sgoul426jgaa4jih9337joepas9gkri</string>
	<key>API_KEY</key>
	<string>AIzaSyA0G2r7sC_ANfs9qhC8559sxNDoJ3nt1Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>658688860314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app05</string>
	<key>PROJECT_ID</key>
	<string>app05-f7159</string>
	<key>STORAGE_BUCKET</key>
	<string>app05-f7159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658688860314:ios:c4ff373a8cd80c4f</string>
	<key>DATABASE_URL</key>
	<string>https://app05-f7159.firebaseio.com</string>
</dict>
</plist>